
body {
  width: 100%;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #F5F5F5;
}
.module1 {
  margin: 0 auto;
  width: 1400px;
  background: #fff;
}
.container {
  width: 1150px;
  margin: 0 auto;
}
section {
  margin-bottom: 150px;
  padding-top: 70px;
}
h1 {
  width: 956px;
  margin-bottom: 30px;
  font-size: 60px;
  line-height: 60px; /* 100% */
  letter-spacing: -1.8px;
  color: #121212;
}
.section-img {
  height: 500px;
  padding-top: 379px;
  padding-left: 40px;
  background-image: url(interior.png);
  background-repeat: no-repeat;
 }
.section-text {
  width: 430px;

  bottom: 40px;
  font-size: 20px;
  line-height: normal;
  letter-spacing: -0.6px;
  color: #fff;
}

.about__h {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: normal;
  letter-spacing: -0.54px;
  text-transform: uppercase;
  color: #121212;
}
h2 {
  padding-right: 80px;
  font-size: 45px;
  line-height: normal;
  letter-spacing: -1.35px;
  color: #121212;
}
.about_btn-text {
  font-size: 20px;
  line-height: normal;
  letter-spacing: -0.6px;
  color: #fff;
}
.about_btn {
  margin-top: 30px;
  display: inline-block;  
  padding: 20px 40px; 
  border-radius: 5px;
  background: #ad1818;
  cursor: pointer; 
}
